.logo {
	padding: 15px;

	text-decoration: none;
	color: black;

	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	line-height: 28px;
	vertical-align: middle;
}

.namespaceLabsImg {
	width: 28px;
	height: 28px;
	border-radius: 4px;
}

.namespaceLabs {
	font-size: 10px;
	font-weight: 600;
}

.foundation {
	font-size: 20px;
	font-weight: 600;
}

.attribution {
	white-space: nowrap;
	display: flex;
	gap: 5px;
}

.namespaceLabs {
	color: #1c32ff;
	display: flex;
	gap: 5px;
}

.namespaceLabsText {
	display: flex;
	flex-direction: column;
	line-height: 9px;
	justify-content: center;
}
