.portForwardingPanel {
	display: flex;
	flex-direction: column;
	min-height: 0;
}

.terminalWrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: black;
	padding: 0 10px;
	min-height: 0;
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
