.portForwardingPanel {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.terminalWrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: black;
	padding: 0 10px;
}
