.serverContent {
	padding-right: 16px;
}

.serverItem {
	min-width: 0;
	display: flex;
	flex-direction: column;
}

.serverName {
	font-weight: bold;
	line-height: 1.4;
}

.serverPackageName {
	font-size: 10px;
	line-height: 2;
}

.serverPackageName > span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: gray;
}

.workingState,
.badge {
	background-color: rgb(210, 210, 210);
	border-radius: 5px;
	padding: 2px 5px;
}

span + .badge {
	margin-left: 5px;
}

.badge {
	font-weight: 400;
	font-size: 10px;
}

.port {
	display: block;
	padding: 3px 12px 2px;
}

a.port:hover .serviceName {
	text-decoration: underline;
}

.ports {
	font-variant-numeric: tabular-nums;
}

.serviceDesc {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.serviceDesc > span {
	margin-right: 0.2rem;
}

.serviceName {
	color: black;
}

.serviceDetails {
	color: gray;
	font-size: 10px;
}

a.port svg {
	display: inline-block;
	width: 12px;
	height: 12px;
}
