.fixedNavbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;

	display: flex;
	flex-direction: row;

	color: white;
	background-color: #141627;

	padding: 16px;
}

.navbarMain {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 16px;
}

.selector {
	flex: 0 250px;
	border-right: 1px solid rgb(210, 210, 210);

	display: flex;
	padding: 0 16px;

	background-color: white;
	cursor: pointer;
}

.selector.active {
	background-color: #f0f3fa;
}

.selector:hover {
	background-color: #d1daf0;
}

.selector > div {
	display: flex;
	align-items: center;
}

.selector > div:first-child {
	flex: 1;
}

.searchBox input {
	font-size: 14px;
	height: 40px;
	width: 100%;
	outline: none;
	border: 0;
	background-color: transparent;
}

.searchHint {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	padding: 3px 8px;
	background-color: rgb(220, 220, 220);
	border-radius: 8px;
	height: 28px;
}
