on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
name: Check License Headers
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.21.x]
    runs-on:
      - nscloud-ubuntu-22.04-amd64-2x8-with-cache
      - nscloud-cache-size-10gb
      - nscloud-cache-tag-foundation-golang
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup cross-invocation caching
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Build nsdev
        env:
          CGO_ENABLED: 0
        run: go build -v -o nsdev ./cmd/nsdev
      - name: Check License headers
        run: ./nsdev debug update-license --check
