on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  merge_group:
    types: [checks_requested]
name: Check Formatting
jobs:
  test:
    runs-on:
      - nscloud-ubuntu-22.04-amd64-2x8-with-cache
      - nscloud-cache-size-10gb
      - nscloud-cache-tag-foundation-golang
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: false
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup cross-invocation caching
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Build ns
        env:
          CGO_ENABLED: 0
        run: go build -v -o ns ./cmd/ns
      - name: Check Formatting
        run: ./ns fmt --all --check
