name: e2e
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

permissions:
  packages: read
  contents: read
  id-token: write # This is required for requesting the JWT

jobs:
  build_fn:
    name: Build ns from head
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Setup cross-invocation caching (Go)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-fnbuild-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-go-fnbuild-
      - name: Build ns
        env:
          CGO_ENABLED: 0
        run: go build -v -o ns ./cmd/ns
      - name: Upload ns
        uses: actions/upload-artifact@v3
        with:
          name: ns-${{ runner.os }}
          path: ns
          # We don't need to persist it for long, only for the next job to download it.
          retention-days: 1
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "attachments": [{
                "title": "${{ job.status }}: ${{ github.workflow }}",
                "title_link": "https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks",
                "text": "${{ github.repository }}@${{ github.ref }}: <https://github.com/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>",
                "fields": [{ "value": ${{ toJson(github.event.head_commit.message) }}, "short": false }],
                "footer": "${{ github.event.head_commit.committer.name }} at ${{ github.event.head_commit.timestamp }}",
                "color": "danger"
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure() && github.ref_name == 'main'

  run_deploy:
    name: Test local Namespace (deploy to k3d) os=${{ matrix.os }} use_prebuilts=${{ matrix.use_prebuilts }}
    needs: build_fn
    strategy:
      matrix:
        os: [ubuntu-20.04]
        use_prebuilts: [false, true]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Required by buildkit gha cache.
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v2

      - name: Setup cross-invocation caching (Go)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-fnrun-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-go-fnrun-

      - name: Download ns
        uses: actions/download-artifact@v3
        with:
          name: ns-${{ runner.os }}

      # ns is moved out of the workspace so we don't spend time uploading it to buildkit.
      - name: Make ns executable
        run: chmod +x ns && mv ns /tmp/ns

      - name: Prepare development environment
        run: /tmp/ns prepare local

      - name: Print kubectl cluster-info
        run: kubectl cluster-info

      # staging deployments already use buildkit, so only testing golang_use_buildkit=false here.
      - name: Deploy internal/testdata/server/gogrpc
        run: |
          /tmp/ns deploy \
            --buildkit_import_cache=type=gha \
            --buildkit_export_cache=type=gha,mode=max \
            --use_prebuilts=${{ matrix.use_prebuilts }} \
            --golang_use_buildkit=false \
            --naming_no_tls=true \
            --use_orchestrator=false \
            internal/testdata/server/gogrpc

  run_e2e_tests:
    name: e2e tests
    needs: build_fn
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Download ns
        uses: actions/download-artifact@v3
        with:
          name: ns-${{ runner.os }}

      - name: Make ns executable
        run: chmod +x ns && mv ns /tmp/ns

      - name: Login
        # Consider using secrets.GITHUB_TOKEN
        run: echo ${{ secrets.NSL_GH_SERVICE }} | /tmp/ns login robot github.com/namespacelabs/foundation

      - name: Run tests
        # Consider removing --also_report_start_events
        run: |
          /tmp/ns test \
            --also_report_start_events \
            --use_prebuilts=true \
            --golang_use_buildkit=true \
            --tools_invocation_can_use_buildkit \
            --testing_use_namespace_cloud \
            --testing_use_namespace_cloud_build \
            --parallel \
            --all

      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "attachments": [{
                "title": "${{ job.status }}: ${{ github.workflow }}",
                "title_link": "https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks",
                "text": "${{ github.repository }}@${{ github.ref }}: <https://github.com/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>",
                "fields": [{ "value": ${{ toJson(github.event.head_commit.message) }}, "short": false }],
                "footer": "${{ github.event.head_commit.committer.name }} at ${{ github.event.head_commit.timestamp }}",
                "color": "danger"
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure() && github.ref_name == 'main'

  deploy_staging:
    name: Deploy staging
    needs:
      - build_fn
      - run_e2e_tests
    if: github.ref == 'refs/heads/main'
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Download ns
        uses: actions/download-artifact@v3
        with:
          name: ns-${{ runner.os }}

      - name: Make ns executable
        run: chmod +x ns && mv ns /tmp/ns

      - name: Login
        # Consider using secrets.GITHUB_TOKEN
        run: echo ${{ secrets.NSL_GH_SERVICE }} | /tmp/ns login robot github.com/namespacelabs/foundation

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_CI_ROLE }}
          role-duration-seconds: 1800 # 30 min

      - name: Create AWS profile
        run: |
          aws configure set region ${{ secrets.AWS_REGION }} --profile=ns-staging

          touch ~/.aws/credentials
          echo "[ns-staging]" > ~/.aws/credentials
          echo "aws_access_key_id = $AWS_ACCESS_KEY_ID" >> ~/.aws/credentials
          echo "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials
          echo "aws_session_token = $AWS_SESSION_TOKEN" >> ~/.aws/credentials

      - name: Prepare workspace
        run: |
          /tmp/ns prepare eks --env=staging --cluster=${{ secrets.EKS_STAGING_CLUSTER }} --aws_profile=ns-staging

          /tmp/ns prepare new-build-cluster --env=staging

      - name: Deploy staging
        run: |
          /tmp/ns deploy --env=staging \
            internal/testdata/server/gogrpc \
            internal/testdata/integrations/dockerfile/complex \
            internal/testdata/integrations/golang \
            internal/testdata/integrations/nodejs/yarn \
            --use_prebuilts=true \
            --golang_use_buildkit=true \
            --tools_invocation_can_use_buildkit \
            --run_codegen=false

      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "attachments": [{
                "title": "${{ job.status }}: ${{ github.workflow }}",
                "title_link": "https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks",
                "text": "${{ github.repository }}@${{ github.ref }}: <https://github.com/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>",
                "fields": [{ "value": ${{ toJson(github.event.head_commit.message) }}, "short": false }],
                "footer": "${{ github.event.head_commit.committer.name }} at ${{ github.event.head_commit.timestamp }}",
                "color": "danger"
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure() && github.ref_name == 'main'

  run_cross_repo_tests:
    name: cross-repo e2e tests
    needs: build_fn
    strategy:
      matrix:
        os: [ubuntu-20.04]
        repo: [examples]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - name: checkout dependant repo
        uses: actions/checkout@v3
        with:
          repository: namespacelabs/${{ matrix.repo }}
          path: external-repo

      - name: Download ns
        uses: actions/download-artifact@v3
        with:
          name: ns-${{ runner.os }}

      # ns is moved out of the workspace so we don't spend time uploading it to buildkit.
      - name: Make ns executable
        run: chmod +x ns && mv ns /tmp/ns

      - name: Login
        # Consider using secrets.GITHUB_TOKEN
        run: echo ${{ secrets.NSL_GH_SERVICE }} | /tmp/ns login robot github.com/namespacelabs/${{ matrix.repo }}

      - name: Run tests
        run: |
          cd external-repo; \
          /tmp/ns test \
            nextjs/01-simple/server \
            multitier/01-simple/frontend \
            multitier/01-simple/apibackend \
            multitier/02-withsecrets/apibackend \
            golang/01-simple/server \
            golang/02-withsecrets/server \
            --use_prebuilts=true \
            --golang_use_buildkit=true \
            --tools_invocation_can_use_buildkit \
            --testing_use_namespace_cloud \
            --testing_use_namespace_cloud_build \
            --parallel

      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "attachments": [{
                "title": "${{ job.status }}: ${{ github.workflow }}",
                "title_link": "https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks",
                "text": "${{ github.repository }}@${{ github.ref }}: <https://github.com/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>",
                "fields": [{ "value": ${{ toJson(github.event.head_commit.message) }}, "short": false }],
                "footer": "${{ github.event.head_commit.committer.name }} at ${{ github.event.head_commit.timestamp }}",
                "color": "danger"
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure() && github.ref_name == 'main'

  test_unprepare:
    name: Test unprepare os=${{ matrix.os }}
    needs: build_fn
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Download ns
        uses: actions/download-artifact@v3
        with:
          name: ns-${{ runner.os }}

      # ns is moved out of the workspace so we don't spend time uploading it to buildkit.
      - name: Make ns executable
        run: chmod +x ns && mv ns /tmp/ns

      - name: Prepare first environment
        run: /tmp/ns prepare local

      - name: Test first environment
        run: /tmp/ns doctor --tests=workspace,kubernetes-run

      - name: Unprepare
        run: /tmp/ns unprepare

      - name: Prepare second environment
        run: /tmp/ns prepare local

      - name: Test second environment
        run: /tmp/ns doctor --tests=workspace,kubernetes-run
