name: e2e
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

permissions:
  packages: read
  contents: read

jobs:
  build_fn:
    name: Build Foundation
    strategy:
      matrix:
        os: [ubuntu-18.04] # Add macos-11 when e2e tests work (macos images dont include docker)
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Setup cross-invocation caching (Go)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-fnbuild-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-go-fnbuild-
      - name: Build fn
        env:
          CGO_ENABLED: 0
        run: go build -v -o fn ./cmd/fn
      - name: Upload fn
        uses: actions/upload-artifact@v3
        with:
          name: fn-${{ runner.os }}
          path: fn
          # We don't need to persist it for long, only for the next job to download it.
          retention-days: 1

  run_deploy:
    name:
      Kubernetes e2e test os=${{ matrix.os }} use_prebuilts=${{ matrix.use_prebuilts }}
      golang_use_buildkit=${{ matrix.golang_use_buildkit }}
    needs: build_fn
    strategy:
      matrix:
        os: [ubuntu-20.04]
        use_prebuilts: [false, true]
        golang_use_buildkit: [false, true]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Required by buildkit gha cache.
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v1

      - name: Setup cross-invocation caching (Go)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-fnrun-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-go-fnrun-

      - name: Download Foundation
        uses: actions/download-artifact@v3
        with:
          name: fn-${{ runner.os }}

      # fn is moved out of the workspace so we don't spend time uploading it to buildkit.
      - name: Make Foundation executable
        run: chmod +x fn && mv fn /tmp/fn

      - name: Prepare development environment
        run: /tmp/fn prepare

      - name: Print kubectl cluster-info
        run: kubectl cluster-info

      - name: Deploy std/testdata/server/gogrpc
        run: |
          /tmp/fn deploy \
            --buildkit_import_cache=type=gha \
            --buildkit_export_cache=type=gha,mode=max \
            --use_prebuilts=${{ matrix.use_prebuilts }} \
            --golang_use_buildkit=${{ matrix.golang_use_buildkit }} \
            --naming_no_tls=true \
            --wait std/testdata/server/gogrpc

  run_e2e_tests:
    name: e2e tests
    needs: build_fn
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - name: Check out
        uses: actions/checkout@v3

      # Required by buildkit gha cache.
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v1

      - name: Setup cross-invocation caching (Go)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-fnrun-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-go-fnrun-

      - name: Download Foundation
        uses: actions/download-artifact@v3
        with:
          name: fn-${{ runner.os }}

      # fn is moved out of the workspace so we don't spend time uploading it to buildkit.
      - name: Make Foundation executable
        run: chmod +x fn && mv fn /tmp/fn

      - name: Prepare development environment
        run: /tmp/fn prepare

      - name: Generate code that is not submitted to the repository
        run: /tmp/fn generate

      - name: Print kubectl cluster-info
        run: kubectl cluster-info

      - name: Run all tests
        run: |
          /tmp/fn test \
            --buildkit_import_cache=type=gha \
            --buildkit_export_cache=type=gha,mode=max \
            --use_prebuilts=true \
            --golang_use_buildkit=false \
            --include_servers

      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "attachments": [{
                "text": "${{ job.status }}: ${{ github.workflow }} <https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks|${{ env.COMMIT_DATE }} #${{ env.COMMIT_NUMBER_OF_DAY }}> " +
                        "(<https://github.com/${{ github.repository }}/commit/${{ github.sha }}|" + "${{ github.sha }}".substring(0, 10) + ">) " +
                        "of ${{ github.repository }}@" + "${{ github.ref }}".split('/').reverse()[0] + " by ${{ github.event.head_commit.committer.name }}",
                "color": "danger"
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure() && github.event_name == 'push'

  run_fn_generate_then_e2e_tests:
    name: e2e tests with full fn generate
    needs: build_fn
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - name: Check out
        uses: actions/checkout@v3

      # Required by buildkit gha cache.
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v1

      - name: Setup cross-invocation caching (Go)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-fnrun-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-go-fnrun-

      - name: Download Foundation
        uses: actions/download-artifact@v3
        with:
          name: fn-${{ runner.os }}

      # fn is moved out of the workspace so we don't spend time uploading it to buildkit.
      - name: Make Foundation executable
        run: chmod +x fn && mv fn /tmp/fn

      - name: Prepare development environment
        run: /tmp/fn prepare

      - name: Run fn generate on a clean slate
        run: |
          find . -regex '.*\.fn\.cue' -exec rm {} \; ; \
          find . -regex '.*\.fn\.go' -exec rm {} \; ; \
          /tmp/fn generate

      - name: Run all tests
        run: |
          /tmp/fn test \
            --buildkit_import_cache=type=gha \
            --buildkit_export_cache=type=gha,mode=max \
            --use_prebuilts=true \
            --golang_use_buildkit=false \
            --include_servers

  run_e2e_tests_other_repos:
    name: e2e tests on dependant repos
    needs: build_fn
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - repo: examples
            root_path: examples/todos
            include_servers: true
    env:
      GOPRIVATE: namespacelabs.dev/*
      NSL_GH_SERVICE: ${{ secrets.NSL_GH_SERVICE }}
    timeout-minutes: 30
    steps:
      # Required by buildkit gha cache.
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v1

      - name: Setup cross-invocation caching (Go)
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-fnrun-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-go-fnrun-

      - name: download foundation
        uses: actions/download-artifact@v3
        with:
          name: fn-${{ runner.os }}

      # fn is moved out of the workspace so we don't spend time uploading it to buildkit.
      - name: make foundation executable
        run: chmod +x fn && mv fn /tmp/fn

      - name: checkout dependant repo
        uses: actions/checkout@v3
        with:
          repository: namespacelabs/${{ matrix.repo }}
          path: ${{ matrix.repo }}
          token: ${{ secrets.NSL_GH_SERVICE }}

      - name: configure git
        run: git config --global url.https://$NSL_GH_SERVICE@github.com/.insteadOf https://github.com/

      - name: prepare dev environment
        run: cd ${{ matrix.root_path }} && /tmp/fn prepare

      - name: print kubectl cluster-info
        run: kubectl cluster-info

      - name: run all tests
        run: |
          cd ${{ matrix.root_path }};
          /tmp/fn test \
            --buildkit_import_cache=type=gha \
            --buildkit_export_cache=type=gha,mode=max \
            --use_prebuilts=true \
            --golang_use_buildkit=false \
            --include_servers=${{ matrix.include_servers }}
