name: release
on:
  push:
    tags: ["v*"]
  workflow_dispatch:

jobs:
  goreleaser:
    runs-on: namespace-profile-foundation-releaser
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
